In [12]:
import pandas as pd
import numpy as np

In [13]:
dataset = pd.read_csv("../data/final_data.csv")
dataset.head()

,company,happiness,rating,description,role,salary range,skills,country,id,city
0,Charles Schwab,"{'Work Happiness Score': '61', 'Learning': '73...",4.0,Financial services can be complicated. At Char...,Email Campaign Manager,$64K-$116K,Email marketing strategies Email marketing pla...,Madagascar,14132,Antananarivo
1,Chewy,"{'Work Happiness Score': '50', 'Achievement': ...",2.7,Chewy is revolutionizing the pet industry as o...,Corporate Litigator,$61K-$101K,Corporate law Commercial litigation Dispute re...,China,30299,Beijing
2,Amazon.com,"{'Work Happiness Score': '65', 'Achievement': ...",3.6,Amazon is guided by four principles: customer ...,Inventory Control Specialist,$61K-$125K,Inventory management Stock control Demand fore...,Northern Mariana Islands,283171,"Capitol Hill, Saipan"
3,Henry Schein,"{'Work Happiness Score': '61', 'Flexibility': ...",3.7,"Henry Schein, Inc. (Nasdaq: HSIC) is a solutio...",Environmental Planner,$61K-$84K,Environmental regulations Ecosystem analysis E...,Kenya,174074,Nairobi
4,Halliburton,"{'Work Happiness Score': '67', 'Learning': '77...",3.9,"Founded in 1919, Halliburton is one of the wor...",Primary Care Nurse Practitioner,$56K-$102K,Nursing care Patient assessment Health promoti...,Malawi,265776,Lilongwe

In [14]:
skills = dataset['skills'].str.split(" ").explode()
skills = set(skills)
titles = dataset['role'].explode()
titles = set(titles)
vocab = skills.union(titles)
vocab = set(vocab)

In [15]:
def remove_non_letters_from_set(input_set):
    res = set()
    for item in input_set:
        while item and not item[0].isalpha():
            item = item[1:]

        while item and not item[-1].isalpha():
            item = item[:-1]
            
        res.add(item)
    return res

In [16]:
vocab = remove_non_letters_from_set(vocab)

In [17]:
file_path = '../data/vocab.txt'

with open(file_path, 'w') as f:
    for word in vocab:
        word = word.lower()
        f.write(word + '\n')