In [29]:
import pandas as pd
import numpy as np

In [32]:
dataset = pd.read_csv("../data/data_old.csv")
dataset.head()

,Company,happiness,rating,description,Role,Salary Range,skills,location
0,American Tower,"{'Work Happiness Score': '65', 'Flexibility': ...",3.8,With the rollout of new wireless technologies ...,Small Animal Veterinarian,$65K-$107K,Veterinary medicine Small animal care and surg...,Douglas
1,American Tower,"{'Work Happiness Score': '65', 'Flexibility': ...",3.8,With the rollout of new wireless technologies ...,Data Business Analyst,$58K-$122K,Data analysis Data modeling Data visualization...,Bamako
2,AmerisourceBergen,"{'Work Happiness Score': '59', 'Compensation':...",3.4,AmerisourceBergen provides pharmaceutical prod...,Water Resources Engineer,$58K-$117K,Water resources engineering Hydrology and hydr...,Mbabane
3,AmerisourceBergen,"{'Work Happiness Score': '59', 'Compensation':...",3.4,AmerisourceBergen provides pharmaceutical prod...,Personal Secretary,$59K-$124K,Administrative support Calendar management Com...,Caracas
4,MetLife,"{'Work Happiness Score': '67', 'Flexibility': ...",3.8,MetLife offers solutions and guidance to help ...,Nursing Director,$60K-$125K,Nursing management Patient care coordination S...,Macao

In [35]:
skills = dataset['skills'].str.split(" ").explode()
skills = set(skills)
titles = dataset['Role'].explode()
titles = set(titles)
vocab = skills.union(titles)
vocab = set(vocab)

In [36]:
def remove_non_letters_from_set(input_set):
    res = set()
    for item in input_set:
        while item and not item[0].isalpha():
            item = item[1:]

        while item and not item[-1].isalpha():
            item = item[:-1]
            
        res.add(item)
    return res

In [37]:
vocab = remove_non_letters_from_set(vocab)

In [39]:
file_path = '../data/vocab.txt'

with open(file_path, 'w') as f:
    for word in vocab:
        f.write(word + '\n')