In [2]:
import numpy as np
import pandas as pd

In [4]:
# job_postings = pd.read_csv("../data/job_descriptions.csv")
# reviews = pd.read_csv("../data/company_reviews.csv")
# reviews = reviews.rename(columns = {"name" : "Company"})

In [5]:
# job_postings.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [6]:
# reviews.head()

,Company,rating,reviews,description,happiness,ceo_approval,ceo_count,ratings,locations,roles,salary,interview_experience,interview_difficulty,interview_duration,interview_count,headquarters,employees,industry,revenue,website
0,Sitel,NaN,NaN,"Sitel Groupâ€™s 75,000 people across the globe c...","{'Work Happiness Score': '55', 'Achievement': ...",70%,"CEO Approval is based on 4,612 ratings","{'Work/Life Balance': '3.4', 'Compensation/Ben...","{'Paradise, NV': '5.0', 'Pioneer, OH': '4.7', ...","{'Tier 1 Agent': '5.0', 'Director of Operation...",{'Customer Service Representative': '$14.48 pe...,Favorable,Easy,About a day or two,Based on 645 interviews,"600 Brickell Ave Miami, FL 33131 Vereinigte St...","10,000+",Telecommunications,$1B to $5B (USD),Twitter\nFacebook\nSitel website
1,Meadowbrook Rehabilitation,3.7,21 reviews,You'll work with the most experienced and loya...,{},NaN,NaN,"{'Work/Life Balance': '4.1', 'Compensation/Ben...",{},{},{},Favorable,Easy,NaN,Based on 5 interviews,Illinois,NaN,Healthcare,NaN,Meadowbrook Rehabilitation website
2,Intermountain,4.0,23 reviews,Why Intermountain?\n\nWe Bring Hope\n\nWith ou...,{},88%,CEO Approval is based on 17 ratings,"{'Work/Life Balance': '3.5', 'Compensation/Ben...",{},{},{'Mental Health Technician': '$13.16 per hour'...,Favorable,Medium,About a day or two,Based on 8 interviews,"Headquarters: 3240 Dredge Dr. Helena, MT 59602",201 to 500,Healthcare,$5M to $25M (USD),Twitter\nFacebook\nIntermountain website
3,Smith & Nephew,NaN,NaN,It's more than business at Smith+Nephew - it's...,"{'Work Happiness Score': '65', 'Purpose': '71'...",76%,CEO Approval is based on 374 ratings,"{'Work/Life Balance': '3.5', 'Compensation/Ben...","{'Largo, FL': '4.5', 'Chicago, IL': '4.3', 'Sa...","{'Packaging Technician': '5.0', 'Senior Associ...","{'Packager': '$30,006 per year', 'Finisher': '...",Favorable,Medium,About a week,Based on 116 interviews,"Building 5, Croxley Park, Hatters Lane, Watfor...","10,000+",Healthcare,$1B to $5B (USD),Twitter\nFacebook\nSmith & Nephew website
4,Reverse Mortgage Funding,4.1,19 reviews,Reverse Mortgage Funding LLC is committed to e...,{},NaN,NaN,"{'Work/Life Balance': '4.2', 'Compensation/Ben...",{},{},{},Favorable,NaN,NaN,Based on 5 interviews,Bloomfield,11 to 50,Financial Services,$5M to $25M (USD),Reverse Mortgage Funding website

In [7]:
# df = pd.merge(job_postings, reviews, on='Company', how='inner')

In [15]:
# df = df[df["Job Posting Date"].str.contains("2023")]
# df = df[df["happiness"] != "{}"]
# df

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,salary,interview_experience,interview_difficulty,interview_duration,interview_count,headquarters,employees,industry,revenue,website
1,593640137699935,5 to 15 Years,M.Tech,$60K-$112K,Tokyo,Japan,36.2048,138.2529,Full-Time,25307,...,"{'Teller': '$33,083 per year', 'Customer Servi...",Favorable,Medium,About a week,Based on 801 interviews,300 Fifth Avenue The Tower at PNC Plaza Pittsb...,"10,000+",Financial Services,more than $10B (USD),Twitter\nFacebook\n...more
2,668060974215211,1 to 13 Years,MCA,$59K-$92K,Funafuti,Tuvalu,-7.1095,177.6493,Full-Time,59969,...,"{'Teller': '$33,083 per year', 'Customer Servi...",Favorable,Medium,About a week,Based on 801 interviews,300 Fifth Avenue The Tower at PNC Plaza Pittsb...,"10,000+",Financial Services,more than $10B (USD),Twitter\nFacebook\n...more
4,1637213882910014,1 to 12 Years,BBA,$62K-$107K,Singapore,Singapore,1.3521,103.8198,Temporary,107575,...,"{'Teller': '$33,083 per year', 'Customer Servi...",Favorable,Medium,About a week,Based on 801 interviews,300 Fifth Avenue The Tower at PNC Plaza Pittsb...,"10,000+",Financial Services,more than $10B (USD),Twitter\nFacebook\n...more
5,989521603963735,0 to 15 Years,B.Com,$64K-$121K,Nuuk,Greenland,71.7069,-42.6043,Contract,22754,...,"{'Teller': '$33,083 per year', 'Customer Servi...",Favorable,Medium,About a week,Based on 801 interviews,300 Fifth Avenue The Tower at PNC Plaza Pittsb...,"10,000+",Financial Services,more than $10B (USD),Twitter\nFacebook\n...more
6,3053839011986643,5 to 9 Years,BBA,$57K-$99K,Jakarta,Indonesia,-0.7893,113.9213,Contract,71255,...,"{'Teller': '$33,083 per year', 'Customer Servi...",Favorable,Medium,About a week,Based on 801 interviews,300 Fifth Avenue The Tower at PNC Plaza Pittsb...,"10,000+",Financial Services,more than $10B (USD),Twitter\nFacebook\n...more
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441998,2241185771243929,4 to 10 Years,BBA,$59K-$111K,Nuuk,Greenland,71.7069,-42.6043,Temporary,84429,...,"{'Operator': '$46,800 per year', 'District Man...",Average,Easy,About a day or two,Based on 27 interviews,"7102 Commerce Way Brentwood, TN 37027","1,001 to 5,000","Energy, Mining & Utilities",more than $10B (USD),Delek US Holdings website
441999,750548461297679,1 to 15 Years,BBA,$63K-$120K,Podgorica,Montenegro,42.7087,19.3744,Intern,22750,...,"{'Operator': '$46,800 per year', 'District Man...",Average,Easy,About a day or two,Based on 27 interviews,"7102 Commerce Way Brentwood, TN 37027","1,001 to 5,000","Energy, Mining & Utilities",more than $10B (USD),Delek US Holdings website
442000,534390495019921,3 to 11 Years,BCA,$58K-$83K,Tripoli,Libya,26.3351,17.2283,Full-Time,16124,...,"{'Operator': '$46,800 per year', 'District Man...",Average,Easy,About a day or two,Based on 27 interviews,"7102 Commerce Way Brentwood, TN 37027","1,001 to 5,000","Energy, Mining & Utilities",more than $10B (USD),Delek US Holdings website
442006,2200777510166294,5 to 14 Years,MBA,$65K-$90K,Rabat,Morocco,31.7917,-7.0926,Intern,55008,...,"{'Operator': '$46,800 per year', 'District Man...",Average,Easy,About a day or two,Based on 27 interviews,"7102 Commerce Way Brentwood, TN 37027","1,001 to 5,000","Energy, Mining & Utilities",more than $10B (USD),Delek US Holdings website
442009,2365486616956807,2 to 12 Years,M.Tech,$57K-$82K,Mexico City,Mexico,23.6345,-102.5528,Temporary,75022,...,"{'Operator': '$46,800 per year', 'District Man...",Average,Easy,About a day or two,Based on 27 interviews,"7102 Commerce Way Brentwood, TN 37027","1,001 to 5,000","Energy, Mining & Utilities",more than $10B (USD),Delek US Holdings website

In [9]:
#df.to_csv("merged_dataset.csv")

In [16]:
# subset_df = df[:1000]
# subset_df.to_csv("../data/selected_data.csv")

In [3]:
dataset = pd.read_csv("../data/selected_data.csv")

In [11]:
skills = dataset['skills'].str.split(" ").explode()
skills = set(skills)

In [12]:
titles = dataset['Job Title'].explode()
titles = set(titles)

In [15]:
vocab = skills.union(titles)
vocab = set(vocab)

In [16]:
len(vocab)

1379

In [17]:
file_path = 'vocab.txt'

with open(file_path, 'w') as f:
    for word in vocab:
        f.write(word + '\n')